.sidebar{
	height: 100vh;
	background-color: #282828;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
}
.sidebar h1, .sidebar p{
	color: #fff;
}
.sidebar a{
	color: #fff;
}
.sidebar ul{
	list-style: none;
	padding-left: 0;
}
.navigation{
	margin-top: 60px;
}
.dashboard_banner{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
	padding-left: 100px;
	padding-right: 100px;
}
.main{
	background-color: #fff;
	padding-left: 0;

	height: 100vh;
	overflow-y: auto;
}
.add_employee_tab{
	padding-left: 100px;
	padding-right: 100px;
}
.employee_list{
	padding-left: 100px;
	padding-right: 100px;
}
.profile_photo{
	border-radius: 360px;
	width: 200px;
	height: 200px;
}
.profile_thumb{
	border-radius: 360px;
	width: 80px;
	height: 80px;
}
.profile_list{
	padding-left: 25px;
}
.add_employee_tab{
	margin-top: 50px;
}
.add_employee_tab a{
	color: #000;
}
.input_photo h6{
	padding-left: 15px;
	font-size: 20px;
	margin-top: 10px;
}
#employeeSubmenu, #attendanceSubmenu{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 13px;
}
.employee_list_display{
	/*height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;*/

	padding-bottom: 50px;
}
.employee_list_display_row{
	padding-left: 30px;
	padding-right: 30px;
}
.employee_list_display_row h3{
	margin-top: 20px;
	margin-bottom: 20px;
}
.employee_list_display_row h6{
	margin-top: 10px;
	margin-bottom: 10px;
}
.list{
	height: 100vh;
	overflow-y: auto;

	position: sticky;
	top: 5px;
}
.add_employee_tab select{
	width: 100%;
	height: 40px;
}
.add_employee_tab input[type=text]{
	width: 100%;
	height: 40px;
}
.add_employee_tab input[type=date]{
	width: 100%;
	height: 40px;
}
.company_logo{
	height: 100px;
	width: 100px;
}
.nav_link:hover{
	background-color: #565656;

	border-radius: 30px;
}
.nav_link{
	padding-top: 5px;
	padding-bottom: 5px;
}
.active_nav{
	background-color: #565656;

	border-radius: 30px;
}
