body, html{
	overflow: auto;
}
body, a, li, p, h1, h2, h3, h4, h5, h6, i, button, input,{
	font-family: 'Roboto', sans-serif;
}
a, a:hover{
	color: #2594A6;
}
.fc-title{
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
}
.fc-prev-button, .fc-next-button{
	border: none !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
} 
.btn{
	font-family: 'Roboto', sans-serif;
}
./*sidebar{
	height: 100vh;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;

	position: relative;
}
.sidebar h1, .sidebar h6{
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
}
.sidebar a{
	color: #000;
}
.sidebar h6{
	color: #000;
}
.sidebar ul{
	list-style: none;
	padding-left: 0;
}
.sidebar i{
	color: #000 !important;
}*/
.navigation{
	margin-top: 30px;
}
.config{
	margin-top: 30px;
}
.dashboard_banner{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	padding-left: 100px;
	padding-right: 100px;

	position: absolute;
	width: 100%;

	-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);

	z-index: 999;
}
.main{
	background-color: #fbfbfb;
	padding-left: 0;
	padding-right: 0;

	height: 100vh;

	position: relative;
}
.add_employee_tab{
	padding-left: 100px;
	padding-right: 100px;

	padding-top: 150px;
	padding-bottom: 150px;

	height: 100vh;
}
.employee_list{
	padding-left: 100px;
	padding-right: 100px;
}
.timesheet_report{
	padding-left: 70px;
	padding-right: 70px;

	padding-top: 150px;
}
.payroll_index{
	padding-left: 50px;
	padding-right: 50px;

	padding-top: 150px;
}
.memo_page{
	padding-left: 50px;
	padding-right: 50px;

	padding-top: 150px;
	padding-bottom: 100px;

	height: 100vh;
}
.sched_page{
	padding-left: 30px;
	padding-right: 30px;

	padding-top: 150px;
	padding-bottom: 100px;

	height: 100vh;
}
.manage_employee{
	padding-left: 50px;
	padding-right: 50px;

	padding-top: 150px;
}
.manage_user{
	padding-left: 100px;
	padding-right: 100px;

	padding-top: 150px;
}
.admin_index{

	padding-top: 350px;

	display: flex;
    width: 100%; 
}

.admin_index_wrapper{
	padding-left: 80px; 
    padding-right: 80px;
    width: 100%;
    background-color: #fbfbfb;
}
.admin_cards{
	padding-left: 80px; 
    padding-right: 80px;
    width: 100%;
	margin-top: -150px;
	background-color: #fff;
}

.jumbotron{
	width: 100%;
	padding-left: 80px;
	padding-right: 80px;

	height: 350px;
	margin-top: -80px;
	position: absolute;

	background-color: #EEEEEC;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image:  url("https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}
.jumbotron2{
	width: 100%;
	padding-left: 80px;
	padding-right: 80px;

	height: 300px;
	margin-top: -80px;
	position: absolute;

	background-color: #EEEEEC;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image:  url("https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}
.job_pages{
	
	padding-left: 100px;
	padding-right: 100px;

	padding-top: 50px;

}
.profile_photo{
	border-radius: 360px;
	width: 200px;
	height: 200px;
}
.profile_photo2{
	border-radius: 360px;
	width: 130px;
	height: 130px;

	margin: 0 auto;
}
.profile_thumb{
	border-radius: 100%;
	width: 70px;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.modal_name{
	display: inline-block;
	font-size: 40px;

	margin-top: 100px;
}
.profile_list{
	padding-left: 25px;
	/*text-align: center;*/
}
.profile_list h3{
	display: inline-block;
}
.add_employee_tab a{
	color: #000;
}
.input_photo h6{
	padding-left: 15px;
	font-size: 20px;
	margin-top: 10px;
}
/*#employeeSubmenu, #attendanceSubmenu{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}*/
.dropdown-toggle::after {
    float: right;
    margin-top: 13px;
}
.nav-item .dropdown-toggle::after{
	display: none;
}
.employee_list_display{
	/*height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;*/

	padding-bottom: 50px;
}
.employee_list_display_row{
	padding-left: 50px;
	padding-right: 50px;
}
.employee_list_display_row h3{
	margin-top: 20px;
	margin-bottom: 20px;
}
.employee_list_display_row h6{
	margin-top: 10px;
	margin-bottom: 10px;
}
.list{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;

	padding-bottom: 50px;
	padding-right: 20px;

}
.add_employee_tab select{
	width: 100%;
	height: 40px;
}
.modal select{
	width: 100%;
	height: 40px;
}
.modal input[type=date]{
	width: 100%;
	height: 40px;
}
#email, #password-confirm, #password{
	width: 100%;
	height: 40px;
}
.add_employee_tab input[type=text]{
	width: 100%;
	height: 40px;
}
.add_employee_tab input[type=date]{
	width: 100%;
	height: 40px;
}
.company_logo{
	height: 100px;
	width: 100px;
}
.nav_link:hover{
	cursor: pointer;
	background-color: #F8FBFB;

	/*padding-left: 30px;*/
}
/*.nav_link_li:hover{
	cursor: pointer;
	background-color: #F8FBFB;

	padding-left: 10px;
}*/
/*.nav_link_li{
	transition: padding-left 0.3s ease;
}*/
.nav_link{
	padding-top: 15px;
	padding-bottom: 15px;

	padding-left: 25px;
	padding-right: 25px;

	background-color: #fff;
	/*transition: padding-left 0.3s ease;*/
}
.active_nav{
	background-color: #6da4a3;
}
.active_nav:hover{
	background-color: #6da4a3;
}
.active_nav a, .active_nav i{
	color: #fff !important;
}
.search_emp{
	margin-top: 20px;
	margin-bottom: 20px;

	border-radius: 30px;
}
.emp_list{
	position: sticky;
	top: 0;

	background-color: #fff;
	z-index: 100;
}
.search_time{
	border-radius: 30px;
}
.card-header{
	background-color: #fff;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
  /*background: #B24592;
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);
  background: linear-gradient(to right, #F15F79, #B24592); */

  background-color: #00838f;

}

.bg-c-green {
   /*background: #BE93C5;
   background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
   background: linear-gradient(to right, #7BC6CC, #BE93C5);*/

   background-color: #00838f;

}

.bg-c-yellow {
  /*background: #ff7e5f;
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
  background: linear-gradient(to right, #feb47b, #ff7e5f);*/

  background-color: #00838f;


}

.bg-c-pink {
    /*background: rgb(34,193,195);
    background: -moz-linear-gradient(38deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(38deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(38deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);*/

    background-color: #00838f;

}


.card {
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    height: auto;
}

.card .card-block {
    /*padding: 25px;*/
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.card-block i{
	font-size: 15px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.box_shadow{
	-webkit-box-shadow: -2px 3px 31px -7px rgba(0,0,0,0.55);
	-moz-box-shadow: -2px 3px 31px -7px rgba(0,0,0,0.55);
	box-shadow: -2px 3px 31px -7px rgba(0,0,0,0.55);
}
.card{
	-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
}
.employee_forms{
	background-color: #fff;

	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;

	-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
}
.btn-success{
	border-radius: 30px;
	background-color:transparent;
	border-color: #28A745;
	border-width: 2px;
	color: #28A745;

	padding: 5px 10px 5px 10px;
}
.btn-primary{
	border-radius: 30px;
	background-color: transparent;
	border-color: #0069D9;
	border-width: 2px;
	color: #0069D9;

	padding: 5px 10px 5px 10px;
}
.btn-danger{
	border-radius: 30px;
	background-color: transparent;
	border-color: #C82333;
	border-width: 2px;
	color: #C82333;

	padding: 5px 10px 5px 10px;
}
.btn-info{
	border-radius: 30px;
	background-color: transparent;
	border-color: #169AAF;
	border-width: 2px;
	color: #169AAF;

	padding: 5px 10px 5px 10px;
}
.fa-bell-o{
	padding: 5px 5px 5px 5px;
	border-radius: 100%;
	background-color: transparent;
	border: solid 1px #000; 
	margin-top: -20px !important;
	color: #000;
	font-size: 20px !important;
}
.fa-bell-o:hover{
	padding: 5px 5px 5px 5px;
	border-radius: 100%;
	background-color: #000;
	border: solid 1px #000; 
	margin-top: -20px !important;
	color: #fff;
	font-size: 20px !important;
}
.notification-trigger .badge {
  position: absolute;
  top: -8px;
  right: 0px;
  padding: 3px 3px 3px 3px;`
  border-radius: 100%;
  background: #2594A6;
  color: #fff;
  font-size: 14px;
}
.notification-trigger {
    color: #333;
    position: relative;
    text-decoration: none;
    float: right;
    margin: 18px 10px 0 0;
    font-size: 20px;
    color: #333;
}
.notification-trigger .notification-num {
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    line-height: 16px;
    display: block;
    background: #d9232b;
    color: #fff;
    top: -4px;
    right: -11px;
    font-size: 10px;
}
.panel {
    position: absolute;
    width: 400px !important;
    height: 500px;
    padding: 0 0 0 0;
   /* top: 80px;*/
    right: 50px !important;
    background-color: #fbfbfb;
    display: none;
    z-index: 2;

    -webkit-box-shadow: 0px 61px 24px -7px rgba(0,0,0,0.32) !important;
    -moz-box-shadow: 0px 61px 24px -7px rgba(0,0,0,0.32) !important;
    box-shadow: 0px 61px 24px -7px rgba(0,0,0,0.32) !important;
}
.panel.visible {
    display: block;
}
.panel .title {
    position: absolute;
    background-color: #fff;
    color: #484846;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    z-index: 3;
    width: 100%;
}

.panel .notif_footer {
    position: absolute;
    background-color: #fff;
    color: #484846;
    padding: 10px;
    text-align: right;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    z-index: 3;
    width: 100%;
}
.notif_footer a{

}
@media screen and (min-width: 768px) {
    .panel {
        width: 300px;
        right: 0;
        border: 1px solid #ddd;
        box-shadow: -1px 0px 1px #e0ded5; 
    }
}
ul.notification-bar {
  list-style: none;
  padding: 60px 10px;
  margin: 0;
  position: relative;
  z-index: 1;
  height: 100%;
}

.notification-bar li:not(:first-child) {
  margin-top: 8px;
}
.notification-bar li div {
  /*margin-left: 50px;*/
  /*margin-top: -40px;*/
  /*border: 1px solid #c7c6c2;*/
  padding-top: 1px !important;
  padding-right: 20px;
  padding-bottom: 1px !important;
  padding-left: 20px;
  background-color: #eeede8;
  border-radius: 3px;
  font-size: 13px;
  color: #7b7a76;
  /*box-shadow: 1px 1px 2px #dedcd4;*/

  transition: all .2s ease-in-out;
}
/*.notification-bar li div:hover {
 -webkit-box-shadow: -6px 21px 34px -17px rgba(0,0,0,0.49);
 -moz-box-shadow: -6px 21px 34px -17px rgba(0,0,0,0.49);
 box-shadow: -6px 21px 34px -17px rgba(0,0,0,0.49);

 transform: scale(1.1); 

 z-index: 3;
}*/
.notification-bar li i {
  width: 40px;
  height: 40px;
  /*text-align: center;
  vertical-align: middle;
  display: table-cell;*/
  
}
/*.notification-bar li.unread i {
    background-color: #008dcb;
    color: #fff;
}*/
.notification-bar li.unread div {
    border-color: #008dcb;
    background-color: #2594A6;
    color: #fff;

    transition: all .2s ease-in-out;

   /* box-shadow: 0px 0px 0px grey;
	-webkit-transition:  box-shadow .6s ease-out;
	 box-shadow: .8px .9px 3px grey;*/
}
/*.notification-bar li:hover.unread div:hover {
    -webkit-box-shadow: -6px 21px 34px -17px rgba(0,0,0,0.49);
    -moz-box-shadow: -6px 21px 34px -17px rgba(0,0,0,0.49);
    box-shadow: -6px 21px 34px -17px rgba(0,0,0,0.49);

    transform: scale(1.1); 

    z-index: 3;
}*/
/*.notification-bar li i:after {
  content: '';
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: #ddd;
  margin-top: 8px;
  z-index: -1;
}
.notification-bar:after {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #deddd5;
  position: absolute;
  top: 0;
  left: 28px;
  z-index: -1;
}*/
.notification-bar{
	padding-top: 80px;
	padding-bottom: 50px;
	/*padding-right: 35px !important;*/

	/*overflow-y: auto*/;
	overflow-x: hidden;
}
.attach a, .attach a:hover {
	color: #282828;
}
.attach{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #e9e9e9;
	border-radius: 30px;
}
.memoemp_search{
	border-radius: 30px;
	width: 100%;
	height: 50px;
	border: 2px solid #282828;
	background-color: #fff;

	padding-left: 20px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
/*input[type=search]{
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	border-color: #757575;
	border-width: 1px;
}
input[type=search]:focus{
	outline: none;
}*/
#editemp_img{
	display: none;
}
.display_img{
	margin-top: 20px; 
	display: block;
}
.memo_container{
	background-color: #f4f4f4;
	border-radius: 30px;
	padding: 20px 20px 20px 20px;
}
 .quick_wrapper {
 	margin-top: 8px;
 	margin-bottom: 8px;

 	font-size: 16px;

 	transition: all .2s ease-in-out;
 }
 .quick_wrapper:hover{

 	/*-webkit-box-shadow: 0px 20px 22px -10px rgba(0,0,0,0.26);
 	-moz-box-shadow: 0px 20px 22px -10px rgba(0,0,0,0.26);
 	box-shadow: 0px 20px 22px -10px rgba(0,0,0,0.26);*/

	 /*transform: scale(1.1); */

	 /*z-index: 3;*/
		
	 background-color: #F8FBFB;
	 padding-left: 10px;
	/* color: #fff;

	 border-radius: 30px;*/
 }
 .row_animation{

 	transition: all .2s ease-in-out;
 	cursor: pointer;
 }
 .row_animation:hover{
 	-webkit-box-shadow: 0px 20px 22px -10px rgba(0,0,0,0.26);
 	-moz-box-shadow: 0px 20px 22px -10px rgba(0,0,0,0.26);
 	box-shadow: 0px 20px 22px -10px rgba(0,0,0,0.26);

	 transform: scale(1.1); 

	 z-index: 3;
		
	 background-color: #fff;
 }
 .dropdown-toggle::after{
 	display: none;
 }
 .form-check{
 	margin-top: 5px;
 	margin-bottom: 5px;
 }
 .fc-left h2 {
 	font-size: 25px;
 	margin-top: -5px;
 }
 #generate_payroll .nav-item{
 	background-color: #f4f4f4;
 	color: #000;
 }
 #generate_payroll .nav-item:hover{
 	color: #000;
 }
 #generate_payroll .active{
 	background-color: #fff;
 }
 #generate_payroll label, #generate_payroll p{
 	font-size: 0.9em !important;
 }
 #nav-tab .active{
 	-webkit-border-top-left-radius: 20px !important;
	-moz-border-radius-topleft: 20px !important;
	border-top-left-radius: 20px !important;
 }
 .color_desc p{
 	display: inline-block;
 	margin-left: 5px; 
 	margin-right: 5px;

 	text-align: right;
 }
 .fc-scroller {
   overflow-y: hidden;
}
.navbar{

	/*background-color: #EEEEEC;*/
	background-color: transparent;

    padding-right: 100px;
    padding-left: 100px;

    height: 60px !important;
    z-index: 999 !important;

    position: relative !important;
    width: 100%;
}
.btn_toggle{
	color: #000;
	border: none; 
	background-color: transparent; 
	height: 40px; 
	width: 40px; 
	margin-right: 30px;
}
.btn_toggle:focus{
	outline: none;
}
.quick_access{
	width: 200px;
	-webkit-box-shadow: -2px 32px 41px -26px rgba(0,0,0,0.34);
-moz-box-shadow: -2px 32px 41px -26px rgba(0,0,0,0.34);
box-shadow: -2px 32px 41px -26px rgba(0,0,0,0.34);

    padding-left: 30px;
 	padding-right: 30px;
 	padding-top: 10px;
 	padding-bottom: 10px;
}
.navbar-brand{
	color: #000 !important;
}
.nav .nav-link{
	color: #000 !important;
}
.display-4{
	color: #000;
	padding-left: 20px;	
}
.d_shift{
	display: inline-block;
}
.d_shift2{
	display: inline-block;
}
.material-icons{
	font-size: 1.1em !important;
}
.m-b-20{
	font-size: 1.1em !important;	
}
.nav_dash{
	display: inline-block;
}
#addDataTable{
	width: 100% !important;
}
.btn_mobile{
	display: none;
}
.btn_desktop{
	display: block;
}
.sched_btn{
	float: left;
}
.payslip_date{
	display: inline-block;
	font-size: 14px;
	margin-top: -20px;
}
.payslip_name{
	display: inline-block;
}
.payslip_modal input{
	border: none;
	background-color: transparent;
}
div.dt-button-collection {
    max-height: 500px;
    overflow-y: scroll;
}
.btn-secondary{
	background-color: transparent;
	color: #000;
	border: solid 1px #CED4DA;
}