body{
	font-family: 'Poppins', sans-serif;
}
.sidebar{
	height: 100vh;
	background-color: #232323;
	padding-top: 50px;
}
.sidebar h1, .sidebar h6{
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
.sidebar a{
	color: #fff;
}
.sidebar ul{
	list-style: none;
	padding-left: 0;
}
.navigation{
	margin-top: 60px;
}
.config{
	margin-top: 30px;
}
.dashboard_banner{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
	padding-left: 100px;
	padding-right: 100px;
}
.main{
	background-color: #fff;
	padding-left: 0;

	height: 100vh;
	overflow-y: auto;
}
.add_employee_tab{
	padding-left: 100px;
	padding-right: 100px;
}
.employee_list{
	padding-left: 100px;
	padding-right: 100px;
}
.timesheet_report{
	padding-left: 100px;
	padding-right: 100px;

	padding-top: 50px;
}
.manage_employee{
	padding-left: 100px;
	padding-right: 100px;

	padding-top: 50px;
}
.manage_user{
	padding-left: 100px;
	padding-right: 100px;

	padding-top: 50px;
}
.job_pages{
	
	padding-left: 100px;
	padding-right: 100px;

	padding-top: 50px;

}
.profile_photo{
	border-radius: 360px;
	width: 200px;
	height: 200px;
}
.profile_thumb{
	border-radius: 360px;
	width: 100px;
	height: 100px;
}
.profile_list{
	padding-left: 25px;
	text-align: center;
}
.profile_list h2{
	display: inline-block;
}
.add_employee_tab{
	margin-top: 50px;
}
.add_employee_tab a{
	color: #000;
}
.input_photo h6{
	padding-left: 15px;
	font-size: 20px;
	margin-top: 10px;
}
/*#employeeSubmenu, #attendanceSubmenu{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}*/
.dropdown-toggle::after {
    float: right;
    margin-top: 13px;
}
.nav-item .dropdown-toggle::after{
	display: none;
}
.employee_list_display{
	/*height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;*/

	padding-bottom: 50px;
}
.employee_list_display_row{
	padding-left: 50px;
	padding-right: 50px;
}
.employee_list_display_row h3{
	margin-top: 20px;
	margin-bottom: 20px;
}
.employee_list_display_row h6{
	margin-top: 10px;
	margin-bottom: 10px;
}
.list{
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;

	padding-bottom: 50px;
	padding-right: 20px;

}
.add_employee_tab select{
	width: 100%;
	height: 40px;
}
.modal select{
	width: 100%;
	height: 40px;
}
.modal input[type=date]{
	width: 100%;
	height: 40px;
}
.add_employee_tab input[type=text]{
	width: 100%;
	height: 40px;
}
.add_employee_tab input[type=date]{
	width: 100%;
	height: 40px;
}
.company_logo{
	height: 100px;
	width: 100px;
}
.nav_link:hover{
	background-color: #143d66;
}
.nav_link{
	padding-top: 15px;
	padding-bottom: 15px;

	padding-left: 20px;
	padding-right: 20px;
}
.active_nav{
	background-color: #143d66;
}
.search_emp{
	margin-top: 20px;
	margin-bottom: 20px;

	border-radius: 30px;
}
.emp_list{
	position: sticky;
	top: 0;

	background-color: #fff;
	z-index: 100;
}
.search_time{
	border-radius: 30px;
}
.card-header{
	background-color: #fff;
}
